<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>COOKIES</title>
    </head>
</br></br></br></br></br></br></br>
<body>
    <div align="center">
        <div align="center" class="border">
            <div class="message">{{error}}</div>
                <div class="header">
                    <div class="word">Login</div>
                    </br></br></br>
                    <div class="word">---------------------------------------------------------------</div>
                </br></br></br>
                <form action="http://localhost:5000/log" method="post">
                    <label for="uname">Username</label>
                    <input type="text" id="name" name="username" placeholder="enter username" required>
                    </br></br></br>
                    <label for="pass">Password</label>
                    <input type="password" id="password" name="password" placeholder="enter password" required>
                    </br></br></br>
                    <input type="submit" class="button" value="signin">
                    </br></br></br>
                    <div class="word">-----------------------------------------------------------</div>
                </form>
                <p class="bottom"> Dont have an account? <a class="bottom" href="#"> SignUp </a></p>
                </div>
        </div>
        </div>
    </div>

</body>
</html>